<h1>运维主页</h1>

<table>
  <tr>
    <th>药店名称</th>
    <th>原因</th>
    <th>受理日期</th>
    <th>终结日期</th>
    <th>联系电话、QQ</th>
    <th>联系地址</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pharmacies.each do |pharmacy| %>
  <tr>
    <td><%= pharmacy.name %></td>
    <td><%= pharmacy.reason %></td>
    <td><%= pharmacy.begin_date %></td>
    <td><%= pharmacy.end_date %></td>
    <td><%= pharmacy.phone %></td>
    <td><%= pharmacy.address %></td>
    <td><%= link_to '显示', pharmacy %></td>
    <td><%= link_to '修改', edit_pharmacy_path(pharmacy) %></td>
    <td><%= link_to '删除', pharmacy, :confirm => '你确定吗?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新增运维', new_pharmacy_path %>
