<p id="notice"><%= notice %></p>

<p>
  <b>药店名:</b>
  <%= @pharmacy.name %>
</p>

<p>
  <b>原因:</b>
  <%= @pharmacy.reason %>
</p>

<p>
  <b>受理日期:</b>
  <%= @pharmacy.begin_date %>
</p>

<p>
  <b>终结日期:</b>
  <%= @pharmacy.end_date %>
</p>

<p>
  <b>联系电话或QQ:</b>
  <%= @pharmacy.phone %>
</p>

<p>
  <b>联系地址:</b>
  <%= @pharmacy.address %>
</p>


<%= link_to '修改', edit_pharmacy_path(@pharmacy) %> |
<%= link_to '返回', pharmacies_path %>
